body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(215, 100%, 95%);
    color: #17a7d3;
}
 
header {
    background: linear-gradient(90deg, #2d87e8, #374c8d);  
     padding: 20px;
    text-align: center;
}
#welcome{
    color: #0b9deb;
    font-style: italic;
    text-align: center;
}
.first{
    line-height: 1.0;
}
#description{
    font-weight: bold;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #0f0d0688;
    font-size: 1.2em;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color:white
}
.headers{
    justify-content: center;
    color: #0b9deb;
    border-bottom:  4px solid rgba(16, 221, 248, 0.5);
    border-radius: 4px;
    display: flex;
    width: 1000px;
    font-size: 45px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.courses{
    height: 200px;
    width: 400px;
}
 
nav ul {
    list-style: none;
    padding: 0;
}
 
.navLink{
    transition: all 0.3s ease-in;
    display: inline-block;
}
 
.navLink:hover{
    transform: scale(1.2);
    background-color: #2788f0;
    padding: 4px;
    border-radius: 4px;
    text-decoration: underline rgba(255, 204, 0, 0.5);
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
 
nav ul li a {
    text-decoration: none;
    color: #f5f3ed;
    font-size: 1.2em;
}
 
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.section {
    background-color: #0face4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(14, 197, 253, 0.5);
    transition: all 0.3s ease-in-out;
    color:#0f0d06;
   
}
 
h2 {
    color: #15578d;
    margin: 10px 0;
}
 
button {
    background-color: #3ca6ac;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
 
button:hover{
    background-color: #25dede;
}
 
.section:hover {
    transform: scale(1.1);
    box-shadow: 3px 4px 10px rgba(14, 197, 253, 0.5);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
 
.catalog {
    display: flex;
    flex-direction: row;
}
 
.btn {
    width: 40%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    color:#000;
}
 
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
    left: 0;
    top: 0;
    border-radius: 4px;
}
 
.btn::before {
    content: "";
    background: linear-gradient(45deg,  #ffcc00,  #ff7700, #ff4d00);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
 
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
 
.btn:hover::before {
    opacity: 1;
   
}
 
.btn:active:after {
    background: transparent;
}
 
.btn:active {
    color: #000;
    font-weight: bold;
}
 .btn {
    width: 40%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    color:#000;
}
 
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
    left: 0;
    top: 0;
    border-radius: 4px;
}
 
.btn::before {
    content: "";
    background: linear-gradient(45deg,  #119fca,  #0561d9, #129bcd);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
 
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
 
.btn:hover::before {
    opacity: 1;
   
}
 
.btn:active:after {
    background: transparent;
}
 
.btn:active {
    color: #000;
    font-weight: bold;
}
button {
    background-color: #0ec8e9;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
 
button:hover{
    background-color: #4ee1e4d2;
}
 
form{
    padding-top: 4px;
    padding-left: 5px;
    background-color: #19c7e6;
    border-radius: 4px;
    width: 90%;
    max-width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    box-shadow: 0px 4px 10px  rgba(14, 197, 253, 0.5);
}
textarea{
    padding: 10px;
    border: 1px solid #feffff4b;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 150px;
    color:#000000f1;
}
input {
    background-color: #fdffff90;
    border: none;
    color: #000;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 90%;
    max-width: 890px;
}
 
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden; clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; 
}
 
input:hover{
    background-color: #f8f7f5;
}
 
footer{
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #0992cd, #06dcdc);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
 
#findUs{
    font-size: 43px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #dcd8d4;
}
 
#copyright{
    font-size: 23px;
    color: #dcd8d4;
    text-align: center;
}

#emailNumber{
    color: #dcd8d4;
}

.fPic{
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 0 30px;
    transition: all 0.3s ease-in;
}
 
.footerImages{
    display: flex;
    justify-content: center;
    gap:80px;
}
 
 
.fPic:hover{
    transform: scale(1.2);
}
 
.contacts{
    font-size: 40px;
    margin-bottom:20px;
    text-align: center;
}
 
a {
    text-decoration: none;
    color:black;
}
 
img {
    border-radius:10px;
}
 
img:hover {
    transition: 0.3s ease-in-out;
    transform:scale(1.05);
}
 
.text {
    background-color: white;
    color:#3c3c3c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 6%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 7px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #0f0d06;
    font-size: 1.2em;
}
 
navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #0992cd,#06dcdc );
    padding: 15px 30px;
}
 
.navbar-logo {
    font-size: 32px;
    font-weight: bold;
    color: #f4f4f4fb;
    text-decoration: none;
    padding-left: 30px;
}
 
::placeholder{
    color: #555;
}
.search-container {
    flex: 1;
    margin: 0 40px;
    margin-left: 60px;
}
 
.search-container input {
    color: black;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
 
.search-container input:focus {
    outline: none;
    border-color: rgba(16, 221, 248, 0.8);
    box-shadow: 0 0 3px #333;
}
 
nav-links {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: space-around;
}
 
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 0;
    margin: 0;
    padding: 0;
}
 
ul li{
    margin: 0;
}
 
ul li a{
    background: linear-gradient(90deg, #0992cd, #06dcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    padding: 15px 25px;
    display: block;
    font-weight: bold;
    transition: all 0.3s ease-in;
    border-right: 1px solid #f0f0f0;
}
 
ul li:last-child a {
    border-right: none;
}
 
.overview {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;  
  box-shadow: #06dcdc;
 
}
.card {
  padding: 10px;
  background: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: #06dcdc;
 
 
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: #06dcdc;
 
}
.description2 {
    font-weight: bold;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0f0d0688;
    font-size: 1.5em;
}
#about-us {
    max-width: 330px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem ;
    background: linear-gradient(90deg, #387c97, #163286);
    margin-top: 40px;
    gap: 20px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    flex: 1;
    max-width: 250px;
}
 
.footer-content:first-child {
    max-width: 370px;
}
 
footer h3{
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
 
footer a, footer p{
    gap: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #9197a5;
    opacity: 60;
}
.footer-separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}
 
 
footer a:hover{
    color: #fff;
    transition: all 0.3s ease-in;
}
 
footer > p {
    color: #9197a5;
    opacity: 60;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #9197a555;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tasks {
    font-size: 18px;
    color: #0f0d0688;
    font-weight: bold;
    margin-bottom: 20px;
}

.link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #0b9deb;
    text-decoration:underline;
}